<ion-header>

  <ion-navbar color="primary">
    <ion-title>Encuesta: {{encuesta.subject}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="content">
  <h3 style="color:#000000;font-weight:500;text-align:justify;">{{content.subject}}</h3>
  <h4 style="color:#000000;font-weight:300;">Fecha de envío: {{content.sendingDate | date:'dd/MM/yyyy'}}</h4>
  <div style="text-align:justify;">
    <h5 style="color:#000000;font-weight:300;">{{content.message}}</h5>
  </div>
    <ion-list>
      <ion-item class="item-icon-left" *ngIf="content.attachmentId != null">
        <i class="icon ion-android-attach" *ngIf="content.attachmentId!=null" href="#"></i><a (click)="openInExternalBrowser(content.attachmentId)">{{content.attachmentName}}</a>
      </ion-item>
    <ion-item *ngIf="activa == true && content.replied !== true">
      {{content.multiple ? "Escoja una o varias respuestas:" : "Escoja una respuesta:"}}
    </ion-item>
    <ion-item *ngIf="content.replied == true">La encuesta ya ha sido respondida.</ion-item>
    <div *ngIf="content.replied == false && activa == true">
      <ion-item *ngFor="let option of content.options">
        <ion-label>{{option.option}}</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="opcionesSeleccionadas[option.id]" (click)="revisar(option.id)"></ion-checkbox>
      </ion-item>
    </div>
    <ion-item>Fecha límite:<p style="color : red" *ngIf="activa === false">EXCEDIDA</p> <p>{{content.sendingDate | date:'H:mm dd/MM/yyyy'}}</p></ion-item>
    </ion-list>
    <button ion-button block
          *ngIf="content.replied == false && activa == true"
    (click)="enviarRespuesta()">Enviar respuesta
    </button>
  </div>
</ion-content>
