<ion-header>

  <ion-navbar color="primary">
    <ion-title>Inicio de sesión Profesor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 ion-text text-center color="primary" style="font-weight:100">Hermerest</h1>

  <ion-item>
    <ion-input [(ngModel)]="username" type="text" placeholder="Nombre de usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button block (click)="doLogin()" [disabled]="disableLogin">
      <span *ngIf="!disableLogin">Iniciar Sesion</span>
      <ion-spinner *ngIf="disableLogin"></ion-spinner>
    </button>
    <p text-center>
      <button ion-button block (click)="goBack()" >
        <span>Volver</span>
      </button>
    </p>
  </div>

</ion-content>
