
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mis hijos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="hijos.length > 0">
    <ion-item> Hijos/as:</ion-item>
    <ion-item class="item-icon-right" *ngFor="let hijo of hijos">
      {{hijo.name}} {{hijo.surname}}
      <ion-icon (click)="deleteHijo(hijo)" name="close"></ion-icon>
    </ion-item>
  </ion-list>
  <h2 *ngIf="hijos.length <= 0">
    Aún no tienes hijos asociados. Contacte con su centro
  </h2>
</ion-content>
