<ion-header>

  <ion-navbar color="primary">
    <ion-title>Circular: {{circular.subject}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="content">
    <ion-list>
      <h1>{{content.subject}}</h1>
      <ion-item>Fecha de envio: {{content.sendingDate | date:'dd/MM/yyyy'}}</ion-item>
      <ion-item class="item-icon-left" *ngIf="content.attachmentId != null">
        <i class="icon ion-android-attach" *ngIf="content.attachmentId!=null" href="#"></i><a (click)="openInExternalBrowser(content.attachmentId)">{{content.attachmentName}}</a>
        <span></span>
      </ion-item>
    </ion-list>
    <div style="text-align:justify;" padding>
      <p  padding style="color:#000000; font-size:16px;">{{content.message}}</p>
    </div>
  </div>
</ion-content>
