<ion-header>
  <ion-navbar color="primary">
    <ion-title>Validar código sms</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 ion-text text-center color="primary" style="font-weight:100">Confirmación de código del mensaje de texto(SMS)</h1>

  <ion-item>
    <ion-input [(ngModel)]="codigo" type="text" placeholder="Código"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button block (click)="checkCodigo()" [disabled]="disableCheck">
      <span *ngIf="!disableCheck">Confirmar código</span>
      <ion-spinner *ngIf="disableCheck"></ion-spinner>
    </button>
    <p text-center>
      <button ion-button block (click)="cancelar()" >
        <span >Cancelar</span>
      </button>
    </p>
  </div>
</ion-content>
