<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{autorizacion.subject}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div  *ngIf="content">
    <h2 style="color:#000000;font-weight:300;text-align:justify;">{{autorizacion.centre}}</h2>
    <h5  style="color:#000000;font-weight:300;">{{content.sendingDate | date:'dd/MM/yyyy'}}</h5>
    <div  style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{content.message}}</p>
    </div>
    <ion-list>
      <ion-item class="item-icon-left" *ngIf="content.attachmentId != null">
        <i class="icon ion-android-attach" *ngIf="content.attachmentId!=null" href="#"></i><a (click)="openInExternalBrowser(content.attachmentId)">{{content.attachmentName}}</a>
      </ion-item>
      <ion-item>Hijo/a: {{content.studentName}}</ion-item>
      <ion-item> Fecha límite:<p style="color : red" [hidden]="activa == true">EXCEDIDA</p> {{content.limitDate | date:'dd/MM/yyyy'}}</ion-item>
      <ion-item>Estado de la autorización: {{content.authorized ? 'Autorizado' : 'No autorizado'}}</ion-item>
    </ion-list>
    <div>
      <button ion-button block (click)="showPopup(true, content.replyId)" [hidden]="content.reply == true || activa == false">Autorizar</button>
      <button ion-button block color="danger" (click)="showPopup(false, content.replyId)" [hidden]="content.reply == false || activa == false">No autorizar</button>
    </div>
  </div>
</ion-content>
