<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registro de padre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 ion-text text-center color="primary" style="font-weight:100">Registro:</h1>

  <ion-item>
    <ion-input [(ngModel)]="nombre" type="text" placeholder="Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="telefono" type="text" placeholder="Teléfono"></ion-input>
  </ion-item>


  <ion-grid>
    <ion-row>
      <ion-col col-2 text-center>
        <ion-checkbox style="margin-top: 20%" [formControl]="form.controls['terms']"></ion-checkbox>
      </ion-col>
      <ion-col col-10>
        <p>* Acepta los términos y condiciones</p>
        <p *ngIf="form.controls['terms'].errors && form.controls['terms'].errors.matchTrue && (form.controls['terms'].dirty || form.controls['terms'].touched )" class="danger" padding>
          Campo obligatorio
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding>
    <button ion-button block (click)="doRegister()" [disabled]="disableRegister">
      <span *ngIf="!disableRegister">Regístrate</span>
      <ion-spinner *ngIf="disableRegister"></ion-spinner>
    </button>
  </div>
</ion-content>

