<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registro de padre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 ion-text text-center color="primary" style="font-weight:100">Registro:</h1>

  <ion-item>
    <ion-input [(ngModel)]="nombre" type="text" placeholder="Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="telefono" type="text" placeholder="Teléfono"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button block (click)="doRegister()" [disabled]="disableRegister">
      <span *ngIf="!disableRegister">Regístrate</span>
      <ion-spinner *ngIf="disableRegister"></ion-spinner>
    </button>
  </div>
</ion-content>
