page-listado-horarios {
  .weekview-allday-table{
    display: none;
  }

  .weekview-normal-event-container{
    margin-top: 37px;
  }
  .dayview-allday-table{
    display: none;
  }
  .dayview-normal-event-container{
    margin-top: 10px;
  }
}
